<h1>Purchases Details</h1>

<h2>User Details</h2>
<ul>
  <li>
    <p><b>Name:</b> {{user.name}} {{user.surname}}</p>
  </li>
  <li>
    <p><b>Email:</b> {{user.email}}</p>
  </li>
</ul>
<h2>Purchases</h2>
<ul>
  {{#each purchases}}
    <li>
      <h3>Transaction #{{this.id}}</h3>
      <ul>
        <li><p><b>Movie:</b> {{this.movie.title}}</p></li>
        <li><p><b>Quantity:</b>{{this.quantity}}</p></li>
        <li><p><b>Date Purchased:</b> {{this.datePurchased}}</p></li>
      </ul>
    </li>
  {{/each}}
</ul>